@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Playfair+Display&display=swap');
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
:root {
    --primary-color: #0c0c0c;
    --sencondary-color: #dda15e;
    --accent1-color: #283618;
    --accent2-color: #606c38;

    --heading-font: 'Nanum Pen Script', cursive;
    --paragrapgh-font: 'Playfair Display', serif;
    --nav-background-color: #dda15e;
    --nav-link-color: #283618;
    --nav-hover-link-color: #606c38;
    --nav-hover-background-color: #BC6C25;
}
body {
    font-family: var(--paragrapgh-font);
    max-width: 960px;
    padding: 20px;
}
header {
    padding: 20px;
    background-color: var(--nav-hover-link-color);
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover{
    color: var(--nav-link-color);
    background-color: var(--nav-hover-background-color);
}